<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="initSyncJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
                <property name="targetObject" >
                    <bean class="com.springapp.mvc.test.QuarzTest"/>
                </property>
                <property name="targetMethod" value="quarzLog"/>

                <property name="concurrent" value="false"/>
            </bean>
        </property>
        <property name="cronExpression" value="0 2 22 * * ?"/>
    </bean>

    <!--定时器调度-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="initSyncJob"/>
            </list>
        </property>
    </bean>
</beans>